* {
    text-align: center;
}

.progress-container {
    margin: 20px;
}

progress {
    height: 30px;
    width: 100%;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
}

progress[value]::-webkit-progress-bar {
  background-color: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background: #0366d6;
}

progress:before {
    content: attr(text) ' ' attr(value) '%';
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 30px;
}

button {
    background: #0366d6;
    border-radius: 4px;
    font-size: 28px;
    padding: 10px 30px;
    color: white;
}
