<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <span class="navbar-brand" href="#">Discogs Digger</span>

  <div class="collapse navbar-collapse show">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dig">Dig</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
  </div>
</nav>