* {
    text-align: center;
}

button {
    background: #0366d6;
    border-radius: 4px;
    font-size: 28px;
    padding: 10px 30px;
    color: white;
}

button:disabled {
    opacity: 0.5;
}

input {
    width: 100%;
    font-size: 40px;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}