label {
    display: inline-block;
    min-width: 180px;
    margin-right: 10px;
}

fieldset {
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

tbody tr:nth-child(2n + 1) {background: #EEE}

.active {
    cursor: pointer;
}

.arrow {
    display: inline-block;
}

.arrow.desc {
    transform: rotate(180deg);
}

.arrow.inactive {
    opacity: 0.1;
}

th, td {
    white-space: nowrap;
    line-height: 28px;
    padding: 0 5px;
}

td:nth-child(2) {
    white-space: normal;
}
