header {
    height: 80px;
    text-align: center;
}

.fixed {
    background: #FFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 30px 0 30px 0;
    transition: all 0.5s ease-out;
}

.shrink {
    padding: 0;
}

h1 {
    margin: 0;
}

h1 a {
    color: #1e1e1e;
    text-decoration: none;
}

.back {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}
